{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}Macbee - Comment Moderation{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Change role</h1>
</div>

<h3> User: {{ usuario.email }}</h3>

{% if current_user.can(Permission.ADMIN) %}
                    <div class="container">
                        <div class="row">
                            {{ wtf.quick_form(form) }}
                        </div>
                    <div class="row">
{% endif %}

{% endblock %}
