{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}VigiSEL - User Management {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>User management</h1>
</div>

<table id="mod_user" class="table table-striped">
    <thead>
       <td>e-mail</td>
       <td> Account creation </td>
       <td>Last seen</td>
       <td>Role id</td>
    </thead>
    
    {% for row in rows %}
      <tr>
         
         {% if row.role_id == 3 %}
            <td>{{row.email}}</td>
         {% else %}
            <td> <a href="{{ url_for('main.moderate_number', id=row.id) }}">{{ row.email }}</a></td>
         {% endif %}   
         
         <td>{{row.member_since}} </td>
         <td>{{row.last_seen}}</td>
         <td>{{row.role_id}}</td>
      </tr>
    {% endfor %}
 </table>


{% endblock %}
