{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}Macbee - Comment Moderation{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Gerenciamento de permissões</h1>
</div>

{% if current_user.can(Permission.MODERATE) %}
                    <div class="container">
                        <div class="row">
                            {{ wtf.quick_form(form) }}
                        </div>
                    <div class="row">
{% endif %}

{% endblock %}
