{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}VigiSEL{% endblock %}

{% block page_content %}
<head>
    <style>
    .row {
    display: flex;
    }

    .column {
    float: left;
    }

    .left {
    width: 60%;
    }

    .right {
    width: 40%;
    }

    </style>
</head>

      

<div class="row">
    
    <div class="left">
        {% if camera_on%}
            <div class="box">
                <image src="{{ url_for('cam.video_feed') }}"
                        width="95%"
                        height="auto">
            </div>

            <h4>Save archives</h4>
            <form method="post" action="{{ url_for('cam.tasks') }}">
                {% if rec %}
                    <input type="submit" value="Stop Recording" name="rec_stop" />
                {% else %}
                    <input type="submit" value="Start Recording" name="rec_start" />
                    
                    <input type="submit" value="Capture" name="click"/>
                {% endif %}
            </form>
        
        {% else %}
            <p> Click in "View Camera"</p>
        {% endif %}
    </div>


    <div class="right">
        <form method="post" action="{{ url_for('cam.tasks') }}">
                {% if camera_on%}
                    <input type="submit" value="Stop View" name="stop" />
                {% else %}
                    <input type="submit" value="View Camera" name="start" />
                {% endif %}
                <br>
         
                {% if camera_on%}
                    {% if rec %}
                        
                    {% else %}
                        {% if current_user.can(Permission.MODERATE) %}
                        
                            {% if lock_servos%}
                                <p> Servos locked </p>

                                Current servos position:
                                <ul>
                                    <li>Horizontal angle = {{ angulo_H }}</li>
                                    <li>Vertical angle = {{ angulo_V }}</li>
                                  </ul>
            
                            {% else %}
                                <h3>Auto scan</h3>
                                {% if varre%}
                                    <input type="submit" value="Stop sweep" name="para_varredura" />
                                {% else %}
                                    <input type="submit" value="Servo sweep" name="varrer" />
                                {% endif %}                        
                        
                                <br>

                                <h3>Fine control</h3>
                                    <h3>
                                    <input type="submit" value='←' name="left"/>
                                    <input type="submit" value='→' name="right"/>
                                    <input type="submit" value='↑' name="up"/>
                                    <input type="submit" value='↓' name="down"/>
                                    </h3>
                                </form>

                                <h3>Specific position</h3>
                                    Current servos position:
                                    <ul>
                                        <li>Horizontal angle = {{ angulo_H }}</li>
                                        <li>Vertical angle = {{ angulo_V }}</li>
                                    </ul>

                                    <form method="post" action="{{ url_for('cam.servos') }}">
                                        {{ wtf.quick_form(formH) }}
                                        {{ wtf.quick_form(formV) }}
                                    </form>
                            
                            {% endif %}

                        {% endif %}
                    {% endif %}
                {% endif %}

        {% if current_user.can(Permission.ADMIN) %}
            <form method="post" action="{{ url_for('cam.tasks') }}">
                {% if lock_servos%}
                    <input type="submit" value="Open servos" name="open_servos" />
                {% else %}
                    <input type="submit" value="Lock servos" name="lock_servos" />
                {% endif %}      
        {% endif %}
        </form>
            
    
    </div>

</div>
          

{% endblock %}