{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}VigiSEL{% endblock %}

{% block page_content %}
<head>
    <style>
    .row {
    display: flex;
    }

    .column {
    float: left;
    }

    .left {
    width: 60%;
    }

    .right {
    width: 40%;
    }
    </style>
</head>

            
<div class="row">
    
    <div class="left">
        {% if camera_on%}
            <div class="box">
                <image src="{{ url_for('cam.video_feed') }}"
                        width="95%"
                        height="auto">
            </div>

            {% if current_user.can(Permission.MODERATE) %}
                <h4>Save archives</h4>
                <form method="post" action="{{ url_for('cam.tasks') }}">
                    {% if rec %}
                        <input type="submit" value="Stop Recording" name="rec_stop" />
                    {% else %}
                        <input type="submit" value="Start Recording" name="rec_start" />
                        
                        <input type="submit" value="Capture" name="click"/>
                    {% endif %}
                </form>
            {% endif %}

        {% else %}
            <h1> Camera is OFF </h1>
        {% endif %}
    </div>


    <div class="right">
        {% if camera_on%}
            
            {% if current_user.can(Permission.ADMIN) %}
                <h2>Computer Vision</h2>

                <h3> Face Detection </h3>
                <form method="post" action="{{ url_for('cam.tasks') }}">
                    {% if dec_face %}
                        <input type="submit" value="Stop Face" name="no_face" />
                    {% else %}
                        <input type="submit" value="Face" name="dec_face" />
                    {% endif %}  
                </form> 

                <form method="post" action="{{ url_for('cam.camera_cv_fine_face') }}">
                    {{ wtf.quick_form(formSCALE) }}
                    {{ wtf.quick_form(formNEIG) }}
                </form>

            {% endif %}
        
        {% endif %}
                
                               
    </div>

</div>
          
    {% endblock %}