{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}VigiSEL{% endblock %}

{% block page_content %}
<head>
    <style>
    .row {
    display: flex;
    }

    .column {
    float: left;
    }

    .left {
    width: 60%;
    }

    .right {
    width: 40%;
    }
    </style>
</head>

            
<div class="row">
    
    <div class="left">
        {% if camera_on%}
            <div class="box">
                <image src="{{ url_for('cam.video_feed') }}"
                        width="95%"
                        height="auto">
            </div>

            {% if current_user.can(Permission.MODERATE) %}
                <h4>Save archives</h4>
                <form method="post" action="{{ url_for('cam.tasks') }}">
                    {% if rec %}
                        <input type="submit" value="Stop Recording" name="rec_stop" />
                    {% else %}
                        <input type="submit" value="Start Recording" name="rec_start" />
                        
                        <input type="submit" value="Capture" name="click"/>
                    {% endif %}
                </form>
            {% endif %}

        {% else %}
            <h1> Camera is OFF </h1>
        {% endif %}
    </div>


    <div class="right">
        {% if camera_on%}
            
            {% if current_user.can(Permission.MODERATE) %}
                <h2>Computer Vision</h2>

                <h3> Motion Detection </h3>
                <form method="post" action="{{ url_for('cam.tasks') }}">
                    {% if dec_motion %}
                        <input type="submit" value="Stop Motion" name="no_motion" />
                    {% else %}
                        <input type="submit" value="Motion" name="dec_motion" />
                    {% endif %}
                </form>

                Current motion detection parameters:
                <ul>
                    <li> Number of past frames = {{ history }}</li>
                    <li> Kernel size = {{ dk }}</li>
                    <li> Threshold value = {{ lim_bin }}</li>
                </ul>

            {% endif %}

            {% if current_user.can(Permission.ADMIN) %}
                <form method="post" action="{{ url_for('cam.camera_cv_fine_motion') }}">
                    {{ wtf.quick_form(formHIST) }}
                    {{ wtf.quick_form(formdk) }}
                    {{ wtf.quick_form(formLIM) }}
                </form>

                <form method="post" action="{{ url_for('cam.tasks') }}">
                    <input type="submit" value="Servo Follow Motion" name="follow_motion"/>
                </form>
            {% endif %}
            
        {% endif %}
                
                               
    </div>

</div>
          
    {% endblock %}