{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Macbee{% endblock %}

{% block page_content %}
<head>
    <style>
    .row {
    display: flex;
    }

    .column {
    float: left;
    }

    .left {
    width: 60%;
    }

    .right {
    width: 40%;
    }
    </style>
</head>

            
{% if controle %}
<div class="row">
    
    <div class="left">
        {% if camera_on%}
            <div class="box">
                <image src="{{ url_for('cam.video_feed') }}"
                        width="95%"
                        height="auto">
            </div>

            <h4>Save archives</h4>
            <form method="post" action="{{ url_for('cam.tasks') }}">
                {% if rec %}
                    <input type="submit" value="Stop Recording" name="rec_stop" />
                {% else %}
                    <input type="submit" value="Start Recording" name="rec_start" />
                    
                    <input type="submit" value="Capture" name="click"/>
                {% endif %}
            </form>
        
        {% else %}
            <p> Click in "View Camera"</p>
        {% endif %}
    </div>


    <div class="right">
        <form method="post" action="{{ url_for('cam.tasks') }}">
                {% if controle%}
                    <input type="submit" value="Collapse Controls" name="stop_controls" />
                {% else %}
                    <input type="submit" value="View Controls" name="controls" />
                {% endif %}
            
                {% if camera_on%}
                    <input type="submit" value="Stop View" name="stop" />
                {% else %}
                    <input type="submit" value="View Camera" name="start" />
                {% endif %}
        <br>
         
            {% if camera_on%}
                {% if rec %}
                    
                {% else %}
        <br>
                    <h4>Computer Vision</h4>
                    {% if grey %}
                        <input type="submit" value="Stop Motion" name="color" />
                    {% else %}
                        <input type="submit" value="Motion" name="grey" />
                    {% endif %}

                    {% if neg %}
                        <input type="submit" value="Stop Face" name="pos" />
                    {% else %}
                        <input type="submit" value="Face" name="neg" />
                    {% endif %}     
                {% endif %}
        <br>
        <br>
        {% if current_user.can(Permission.MODERATE) %}
                <h4>Auto scan</h4>
                {% if varre%}
                    <input type="submit" value="Parar varredura" name="para_varredura" />
                {% else %}
                    <input type="submit" value="Varredura" name="varrer" />
                {% endif %}                        
        {% endif %}
        
        <br>
        <br>
            {% if current_user.can(Permission.MODERATE) %}
                <h4>Specific position</h4>
                {{ wtf.quick_form(form) }}
            {% endif %}
        </form>  
    
    {% endif %}

    </div>

</div>
          

{% else %}

<form method="post" action="{{ url_for('cam.tasks') }}">
    {% if controle%}
        <input type="submit" value="Collapse Controls" name="stop_controls" />
    {% else %}
        <input type="submit" value="View Controls" name="controls" />
    {% endif %}

    {% if camera_on%}
    <input type="submit" value="Stop View" name="stop" />
    
    <div class="box">
        <image src="{{ url_for('cam.video_feed') }}"
                width="55%"
                height="auto">
    </div>

    <h4>Save archives</h4>
    <form method="post" action="{{ url_for('cam.tasks') }}">
        {% if rec %}
            <input type="submit" value="Stop Recording" name="rec_stop" />
        {% else %}
            <input type="submit" value="Start Recording" name="rec_start" />
            
            <input type="submit" value="Capture" name="click"/>
        {% endif %}
    </form>

    {% else %}
    <input type="submit" value="View Camera" name="start" />
    {% endif %}


</form>

{% endif %}
    
    <!-- <script src="{{url_for('static', filename='led_check.js')}}"></script> -->


    {% endblock %}
