{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}VigiSEL{% endblock %}

{% block page_content %}

<head>
    <style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    </style>
</head>


<form method="post" action="{{ url_for('cam.tasks') }}">
    
    {% if camera_on%}
        {% if current_user.can(Permission.ADMIN) %}
            <input type="submit" value="Stop showing camera" name="stop" />
        {% endif %}

        <div class="box">
            <image src="{{ url_for('cam.video_feed') }}"
                    width="100%"
                    height="auto"
                    class="center">
        </div>

        {% if current_user.can(Permission.MODERATE) %}
            <h4>Save archives</h4>
            <form method="post" action="{{ url_for('cam.tasks') }}">
                {% if rec %}
                    <input type="submit" value="Stop Recording" name="rec_stop" />
                {% else %}
                    <input type="submit" value="Start Recording" name="rec_start" />
                    
                    <input type="submit" value="Capture" name="click"/>
                {% endif %}
            </form>
        {% endif %}

    {% else %}
        
        <h1> Camera is OFF </h1>
        {% if current_user.can(Permission.ADMIN) %}
            <input type="submit" value="View Camera" name="start" />
        {% endif %}    
    {% endif %}

</form>
    
    {% endblock %}