{% extends "base.html" %}

{% block title %}VigiSEL{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Saved videos in SDCard</h1>
</div>

<table>
    {% for r, d, tm in data %}
    <tr>
        <td>{{ r }}</td>
        <td>
            <form method="POST" action="file_action">
                <input type="hidden"  name="date" value="{{ d }}">
                <input type="hidden" name="time" value="{{ tm }}">
                <input type="Submit" name="download" value="Download">
                
                {% if current_user.can(Permission.ADMIN) %}
                    <input type="Submit" name="erase" value="Erase">
                {% endif %}
            </form>
        </td>
    </tr>
    {% endfor %}
</ul>

{% endblock %}
